$color-title: #191520;
$color-background: rgb(245, 249, 254);
$color-price: rgb(131, 40, 40);

body{
    position: relative;
}

header {
    background: $color-background;
    box-shadow: 0 2px 4px #e2ebfc;
    height: 70px;
 
    .navbar-light {
        .navbar-brand {
            color: $color-title;
            font-size: 30px;
            font-weight: 600;
        }

        i {
            font-size: 1.4rem;
            color: $color-title;
        }

        .icons {
            background: rgba(150, 149, 149, 0.4);
            padding: 7.5px 5px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        span {
            font-size: 20px;
            font-weight: 500;
            color: $color-title ;
        
        }
        ._option{
            border-radius: 10px;
        }
        ._buy_modal{
            .count_number{
                transform: translateY(-50%);
                color: $color-background;
                transition: 0.7s;
                background-color: $color-title;
                padding: 3px 5px;
                font-size: 15px;
                border-radius: 0.5rem;
            }
            
        }
    }
}
.carousel_bg{
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%;
                height: 500px;
            }
        }
    }
}
._product{
    margin-top: 100px;
   

    .list_option{
        display: grid;
        grid-template-columns: repeat(3,
            minmax(0, 1fr));
            gap: 2;
        .item{
            box-shadow: 6px 6px 12px #e2ebfc,
                -6px -6px 12px #fff;;
                padding: 20px 0;
            text-align: center;
           margin: 5px 5px;
            
        }
        img {
            width: 50%;
        }
        .title__list{
            margin-top: 5px;
            h4 {
                    font-size: 20px;
                }
            p{
                font-size: 20px;
                color: $color-price;
                font-weight: 700;
            }
        button{
            padding: 5px 20px;
            color: $color-title;
            font-weight: 500;
        }
        }
       
    }
}

