body {
  position: relative;
}

header {
  background: rgb(245, 249, 254);
  box-shadow: 0 2px 4px #e2ebfc;
}
header .navbar-light .navbar-brand {
  color: #191520;
  font-size: 30px;
  font-weight: 600;
}
header .navbar-light i {
  font-size: 1.4rem;
  color: #191520;
}
header .navbar-light .icons {
  background: rgba(150, 149, 149, 0.4);
  padding: 7.5px 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
header .navbar-light .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header .navbar-light span {
  font-size: 20px;
  font-weight: 500;
  color: #191520;
}
header .navbar-light ._option {
  border-radius: 10px;
}
header .navbar-light ._buy_modal .count_number {
  transform: translateY(-50%);
  color: rgb(245, 249, 254);
  transition: 0.7s;
  background-color: #191520;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 0.5rem;
}

.carousel_bg .carousel-inner .carousel-item img {
  width: 100%;
  height: 500px;
}

._product {
  margin-top: 100px;
}
._product .list_option {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2;
}
._product .list_option .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  padding: 20px 0;
  text-align: center;
  margin: 5px 5px;
}
._product .list_option img {
  width: 50%;
}
._product .list_option .title__list {
  margin-top: 5px;
}
._product .list_option .title__list h4 {
  font-size: 20px;
}
._product .list_option .title__list p {
  font-size: 20px;
  color: rgb(131, 40, 40);
  font-weight: 700;
}
._product .list_option .title__list button {
  padding: 5px 20px;
  color: #191520;
  font-weight: 500;
}/*# sourceMappingURL=cssall.css.map */