* {
  padding: 0;
  margin: 0;
}

#spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(234, 234, 165, 0.5);
  z-index: 3;
}

header {
  height: 70px;
}
header .navbar-dark .navbar-brand {
  font-size: 25px;
}
header .navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 25px;
  transition: 0.5s;
  margin: 0 15px;
  line-height: 1;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  scale: 1.2;
  color: white;
}

.content-wrap .rounded-top {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

footer {
  margin-top: 400px;
}

.modal .modal-header {
  display: block;
}/*# sourceMappingURL=index.css.map */